table, tr,td{

    border: solid 2pt;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border-collapse: collapse;
}
